<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>envato market</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/font-awesome.min.css">
</head>
<body>
  <header id="header">
    <section class="header-images">
      <img src="../images/logo-summer-day.png" alt="Summer">
    </section>
    <section class="nav">
      <ul class="nav-list">
        <li class="list-item"><a class="active" href="" title="">HOME</a></li>
        <li class="list-item"><a href="" title="">EXAMPLES</a></li>
        <li class="list-item"><a href="" title="">ABOUT</a></li>
        <li class="list-item"><a href="" title="">SHOP</a></li>
        <li class="list-item"><a href="" title="">BLOG</a></li>
        <li class="list-item"><a href="" title="">GALLERY</a></li>
        <li class="list-item"><a href="" title="">CONTACT</a></li>
      </ul>
    </section>
  </header><!-- /header -->
  <main>
    <section class="main-slider">
      <img src="../images/banner1.jpg" alt="slider">
    </section>
    <div class="container">
      <section class="main-content">
      <p>For over 7 years we have been creating unique website templates for thousands of people.</br>
      We love what we do and hope all our clients enjoy making our websites their own. We specialise in WordPress templates that are easily customized and are ready to have a variety of plugins installed to suit any business.</p>  
     </section>
    </div>
    <div class="container">
      <div class="main-content-center">
        <div class="main-content-left">
          <article class="article-item">
            <header class="content-left-header">
             <div class="blog-widget">
                <a class="comment" href="">
                  <i class="fa fa-comment" aria-hidden="true"></i> 
                  <span>0</span>
                </a>
                <a class="share" href="">
                  <i class="fa fa-share-alt" aria-hidden="true"></i>    
                  <span>Share</span>              
                </a>
              </div>
              <div class="images-left">
                <a href="" title=""><img src=../images/entry1.jpg alt="header"></a>
              </div>
              <a class="title" href="" title=""><h2>Surfs Up - Best locations</h2></a>
              <a class="time" href="" title=""><h4>September 16, 2016</h4></a>
            </header>
            <p>Type your custom Excerpt here. This will display on the blog summary pages.</p>
            <footer>
              <a href="" title="See More">More</a>
            </footer>
          </article>
          <article class="article-item">
            <header class="content-left-header">
              <div class="blog-widget">
                <a class="comment" href="">
                  <i class="fa fa-comment" aria-hidden="true"></i> 
                  <span>0</span>
                </a>
                <a class="share" href="">
                  <i class="fa fa-share-alt" aria-hidden="true"></i>    
                  <span>Share</span>              
                </a>
              </div>
              <div class="images-left">
                <a href="" title=""><img src="../images/entry2.jpg" alt="header"></a>
              </div>
              <a class="title" href="" title=""><h2>Time for a holiday</h2></a>
              <a class="time" href="" title=""><h4>September 16, 2016</h4></a>
            </header>
            <p>A vacation or holiday is a leave of absence from a regular occupation, or a specific trip or journey, usually for the purpose of recreation or tourism. People often take a vacation during specific holiday observances, or for specific festivals or celebrations. Vacations are often spent with friends or family. A person may take a longer break from work, such as a sabbatical, gap year, or career break. The concept[…]</p>
            <footer>
              <a href="" title="See More">More</a>
            </footer>
          </article>
        </div>
        <div class="main-content-right">
          <section class="content-right-block">
            <div class="title-right">
              <h3>About</h3>
            </div>
            <div class="block-content">
              <p>dtbaker is a website designer with a professional career spanning over 15 years.</p>
              <img src="../images/profile-1.jpg" alt="person">
            </div>
          </section>
          <section class="content-right-block category">
            <div class="title-right">
              <h3>Categories</h3>
            </div>
            <ul class="category-list">
              <li class="category-item"><a href="" title="design">Design</a></li>
              <li class="category-item"><a href="" title="life">Life</a></li>
              <li class="category-item"><a href="" title="marketing">Marketing</a></li>
              <li class="category-item"><a href="" title="wordpress">WordPress</a></li>
            </ul>
          </section>
          <section class="content-right-block tag">
            <div class="title-right">
              <h3>Tags</h3>   
            </div> 
            <ul class="tags-list">
              <li class="tag-item"><a href="" title="beach">BEACH</a></li>
              <li class="tag-item"><a href="" title="creative">CREATIVE</a></li>
              <li class="tag-item"><a href="" title="fun">FUN</a></li>
              <li class="tag-item"><a href="" title="summer">SUMMER</a></li>
              <li class="tag-item"><a href="" title="theme">THEME</a></li>
              <li class="tag-item"><a href="" title="wordpress">WORDPRESS</a></li>
            </ul>
          </section>
          <section class="content-right-block">
            <div class="title-right">
              <h3> Instagram</h3>
            </div>
            <ul class="instagram-list">
              <li class="instagram-item"><img src="../images/instagram/1.jpg" alt="image"></li>
              <li class="instagram-item"><img src="../images/instagram/2.jpg" alt="image"></li>
              <li class="instagram-item"><img src="../images/instagram/3.jpg" alt="image"></li>
              <li class="instagram-item"><img src="../images/instagram/4.jpg" alt="image"></li>
              <li class="instagram-item"><img src="../images/instagram/5.jpg" alt="image"></li>
              <li class="instagram-item"><img src="../images/instagram/6.jpg" alt="image"></li>
              <li class="instagram-item"><img src="../images/instagram/7.jpg" alt="image"></li>
              <li class="instagram-item"><img src="../images/instagram/8.jpg" alt="image"></li>
              <li class="instagram-item"><img src="../images/instagram/9.jpg" alt="image"></li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </main>
  <footer id="footer">
    <div class="container">
      <div class="content-top">
        <section class="footer-item">
          <h3>About</h3>
          <div class="footer-text">
            <p>Baker Web Development is the combined efforts of two freelance web developers Hayley (design) & Dave (code). We have been working together since 2005.
            </p>
            <p>This theme is available for purchase on <span><a href="" title="">ThemeForest.net.</a></span></p>
          </div>
        </section>
        <section class="footer-item">
          <h3>Links</h3>
          <ul class="links-list">
            <li class="link-item"><a href="" title="link-item">ThemeForest</a></li>
            <li class="link-item"><a href="" title="link-item">CodeCanyon</a></li>
            <li class="link-item"><a href="" title="link-item">dtbaker.net</a></li>
            <li class="link-item"><a href="" title="link-item">Help</a></li>
          </ul>
        </section>
        <section class="footer-item">
          <h3>Newsletter</h3>
          <form>
            <input type="text" placeholder="Your Name">
            <input type="text" placeholder="Your Email">
            <button type="">Submit</button> 
          </form>
        <div class="captcha">
          <div class="text-captcha">
            <p>protected by reCAPTCHA</p>
            <ul class="captchas-list">
              <li class="captcha-item"><a href="" title="Privacy">Privacy</a></li>
              <li class="captcha-item"><a href="" title="Terms">Terms</a></li>
            </ul>
          </div>
          <div class="image-captcha">
            <img src="../images/logo_48.png" alt="capcha">
          </div>
        </div>
        </section>
        <section class="footer-item">
          <h3>Contact</h3>
          <ul class="contacts-list">
              <li class="contact-item"><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li class="contact-item"><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="contact-item"><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li class="contact-item"><a href=""><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
          </ul>
        </section>
      </div>
      <div class="site-info">Summer - 2016</div>
    </div>
  </footer>
</body>
</html>