$font-body:'Open Sans semibold', sans-serif;
$font-text:'Open Sans', sans-serif;
$font-captcha: 'Roboto', sans-serif;
$font-title:'Zeyada';
$primary-color:#79c3d7;
$secondary-color:#000;
$color-li:#333333;
$color-white:#ffffff;
$color-footer-title:#666666;
$color-captcha:#4a90e2;
$color-hover-more:#5da5b9;
$color-boder:#f0f0f0;
$color-icon:#333;
$color-hover-comment:#1faeca;
$color-comment:#656565;
$color-icon-contact:#686868;
